body
{
    font-family: 'Roboto', sans-serif;
    
    background-color: rgba(228, 218, 218, 0.822);
}
.half-width
{
    color: gray;
    font-family: cursive;
    float: left;
    width: 30%;
    margin-left: 10%;
    padding-left: 5%;
}
.half-width img
{
    width: 100%;
}

p
{   font-weight: 100%;
    font-size:15px;
    margin-bottom: 30px;
      font-family:none;
    color: rgb(48, 14, 14);
    float: right;
    
}
#name
{
    color: rgb(4, 156, 149);
}
.top-button
{
    text-decoration: none;
  background-image: linear-gradient(45deg,rgba(60, 160, 127, 0.76), lightgreen);
    
    padding: 10px 10px;
    border-radius: 13px;
    color:white;
    font-weight: 500;
}
section
{
    height: 250px;
    padding-bottom: 200px;
}
#about
{
    color: rgb(177, 140, 73);
    text-align: center;
}
div
{
    height: 60px;
    padding-bottom: 80px; 
}
   h2
   {
       text-align: center;
       font-weight: 800;
   } 
   h3
   {
       font-size: 16px;
   }

.list
{
        
       
    text-align: center;
    text-decoration:solid;
    box-shadow: 10px 10px 10px gray;
    margin-left: 5%;
    width: 25%;
    height: 140%;
    border-radius: 10px;
    padding: 10px;
    float: left;
   
   
    background-color: lavender;
}

.list img
{
   
    width: 100%;
    
    
    
    
}
.third-part
{
    background-color: rgba(235, 215, 215, 0.822);
    background-size: 100%;
}
#lastet
{
    color: red;
    

}


   #gym
{
    
    
  
    border-image:linear-gradient(180deg,rgba(60, 160, 127, 0.76), lightgreen);
    border-left: 5px solid;
    
}
#agency
{   
  
    border-image:linear-gradient(180deg,rgba(60, 160, 127, 0.76), lightgreen);
    border-left: 5px solid;
    
}
#music
{

  
  
    border-image:linear-gradient(180deg,rgba(60, 160, 127, 0.76), lightgreen);
    border-left: 5px solid;
}

.last-part
{
    background-image: url("image/last.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    margin-left: 5%;
    padding-top: 2%;
    
}
.last-width
{   font-size: 20px;
    padding-top: 10%;
    margin-right: 3%;
    color:white;
    font-weight: 900;
}

#chat
{
    float: left;
    padding-top: 12%;
    margin-left: -8%;
}
footer
{
    font-size: 13px;
    text-align: center;

    color: grey;
    margin-top: 50%;
    padding-bottom: 5%;
}

.box
{
   width: 330px;
   padding: 500px;
   top: 60%;
   left: 60%;
   text-align: center;
   


}
.box input[type ="text"],.box input[type="text"],.box input[type="text"]
{
    border: 0;
    background: none;
    display:block ;
    margin:20px auto ;
    text-align: center;
    border: 2px solid rgb(30, 200, 192);
    padding: 14px 10px;
    width: 300px;
    outline: none;
    border-radius: 25px;
}
#msg
{
    padding:60px 17px ;
    
}
#sub
{
   
    
  
    margin:20px auto ;
    text-align: center;
    border: 2px solid rgb(19, 224, 173);
    padding: 10px 10px;
    width: 150px;
    outline: none;
    border-radius: 40px;
}
#sub:hover
{
    background: rgb(224, 80, 135);
}
